/* Instagram API Styles */

.container {
	margin: 0 auto;
	width: 980px;
	padding-bottom: 150px;
}

.logo {
	margin-top: 100px;
	text-align: center;
}

h1 {
	font-family: 'Londrina Solid', cursive;
	font-size: 45px;
}

form {
	text-align: center;
	margin-top: 30px;
}

/* Search Box and Button Styles */
#searchform {
  background: #f4f4f4;
  background: rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  margin: 20px auto;
  width: 355px;
  box-shadow: 0 4px 9px rgba(0,0,0,.37);
  -moz-box-shadow: 0 4px 9px rgba(0,0,0,.37);
  -webkit-box-shadow: 0 4px 9px rgba(0,0,0,.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}

#searchform input, #searchform button {
	display: inline-block;
}

#searchform input {
	background:#fefefe;
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	width: 216px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
	#searchform input:focus {
		outline: none;
		box-shadow:0 0 4px #0d76be inset;
		-moz-box-shadow:0 0 4px #0d76be inset;
		-webkit-box-shadow:0 0 4px #0d76be inset;
	}

	#searchform input::-webkit-input-placeholder {
  	font-style: italic;
  	line-height: 15px
	}

	#searchform input:-moz-placeholder {
	font-style: italic;
  	line-height: 15px
	}

#searchform button {
	background: rgb(52,173,236);
	background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
	background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
	border: none;
	color:#fff;
	cursor: pointer;
	font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	padding: 10px;
	width:106px;
	box-shadow: 0 0 2px #2692dd inset;
	-moz-box-shadow: 0 0 2px #2692dd inset;
	-webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

	#searchform button:hover {
	opacity:.9;
	}
/* End of Searchbox Styles */


/* Text Displaying the Number of Image Results Found */
.message {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	font-family: 'Londrina Solid', cursive;
	font-size: 25px;
}

/* Error Message Displaying When the User Does Not Enter a Keyword */
.error {
	color: red;
}

/* Section Displaying the Results (Rows of 3-across Images) */
.pictureDiv {
	float: top;
	margin-left: 16px;
	margin-bottom: 20px;
	width: 310px;
	min-height: 360px;
	display: inline-block;
}

/* Title Text Above Each Returned Image Result */
h3 {
	text-align: center; 
	font-weight: 100;
	font-family: 'Londrina Solid', cursive;
	}






